# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

/.agents

# Production
/build
/dist

# Environment variables
.env*.local
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Temporary extraction folder
extracted_make/
scratch/
*.tsbuildinfo

.vercel
.env*
